# 마크다운 문법
```
# hello
## hello2
### hello3

* 항목
* 항목
* 항목
1. 항목
1. 항목
1. 항목
```

# colab 단축키 및 설정

```
Ctrl + Enter: 현재 셀 실행
Alt + Enter: 현재 셀 실행 + 아래 코드블록 추가
```

* 오른쪽 상단 톱니바퀴 클릭 > 편집키 > 들여쓰기 4칸

# python

## ch1. 주석, 입력(input), 출력(print)

In [ ]:
# 아래 코드는 1 더하기 1의 결과값을 출력합니다.
1+1

In [ ]:
1+1 # 아래 코드는 1 더하기 1의 결과값을 출력합니다.

In [ ]:
'''
아래 코드는
1 더하기 1의 결과값을
출력합니다.
'''
1+1

In [ ]:
"""
아래 코드는
1 더하기 1의 결과값을
출력합니다.
"""
1+1

In [ ]:
print(1+1)

2

In [ ]:
1+1
1+2
1+3
1+4
1+5

6

In [ ]:
print(1+1)
print(1+2)
print(1+3)
print(1+4)
print(1+5)

2
3
4
5
6

In [ ]:
input('나이를 입력하세요!')

나이를 입력하세요!10

'10'

## ch2 변수

- 파이썬의 변수는 담는 것이 아니라 가리키는 것입니다.
- 변수의 이름 규칙
    - 특수문자(_는 제외)는 사용하지 않습니다.
    - 변수는 띄어쓰기하지 않습니다.
    - 대소문자는 다른 변수를 의미합니다.
    - 숫자로 시작해서는 안됩니다. (숫자가 중간이나 마지막에 들어가는 것을 괜찮습니다.)
    - Built-in Functions, 키워드를 변수명으로 사용하지 않습니다.
       -  https://docs.python.org/3/library/functions.html
       -  https://wikidocs.net/20557
    - 각 나라의 언어를 변수명으로 사용할 수 있습니다.
    - 대문자로 시작하는 변수는 보통 Class로 간주합니다.
    - 스네이크 표기법 hello_world 를 파이썬에서 많이 쓴다.

In [ ]:
x = 10
y = 20
x + y

30

In [ ]:
x = 10
y = x
z = y

In [ ]:
x = 10
y = x
z = y

y = 20
z

10

## ch3. 변수의 타입

In [ ]:
# 숫자형(int, float)

x = 10
type(x) #int, 정수형

x= -10
type(x) #int, 정수형

x = 0
type(x) #int, 정수형

int

In [ ]:
x = 10
type(x) #float, 실수형

x= 10.1
type(x) #float, 실수형

x = 0.0
type(x) #float, 실수형

float

In [ ]:
10 + 10.1

20.1

In [ ]:
# 논리 자료형(bool) : 논리 자료형 True, False

x = True
type(x) #bool, 논리 자료형

x = False
type(x) #bool, 논리 자료형

bool

In [ ]:
# 시퀀스 자료형: 문자열, 리스트, 튜플

x = 'hello world' #str, 문자열
x[0] #0은 index
x[5] #5는 index
x[6] #6은 index
type(x)

# 10, '10'
x = '10'
x + x

'1010'

In [ ]:
x = [10,20,30]
type(x) #list, 리스트

x[0]
x[2]
# x[10] 인덱스를 초과하여 불러오면 list index out of range가 뜹니다.

30

In [ ]:
x = (10, 20, 30)
type(x) #tuple, 튜플

x[0]

10

In [ ]:
x = {'one': '하나', 'two': '둘'}
type(x) #dict

x['one']

'하나'

In [ ]:
s = {10, 20, 30, 40, 10}
type(s) #set

set

In [ ]:
x = None
type(x) #NoneType

#[30, 80, 60, None]과 같이 아예 none을 명시해줄 때 사용.

NoneType

## ch4. 정수, 실수

In [ ]:
# int

x = 10
y = -5
z = 0
print(type(x), type(y), type(z))

<class 'int'> <class 'int'> <class 'int'>

In [ ]:
# 2진수(0, 1, 10),
# 8진수(0, 1, 2, 3, 4, 5, 6, 7, 10),
# 16진수(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, a, b, c, d, e, f, 10) 모두 정수입니다.

x = 0b1001 #bin
x

x = 0o1001 #oct
x

x = 0x1001 #hex
x

4097

In [ ]:
x = 0b1001 #bin
type(x)

int

In [ ]:
int('10') #형변환 함수: 문자열 -> 정수

10

In [ ]:
int(10.1) #형변환 함수: 실수 -> 정수

10

In [ ]:
bin(9) #형변환 함수: 10진수 -> 2진수
oct(9) #형변환 함수: 10진수 -> 8진수
hex(9) #형변환 함수: 10진수 -> 16진수
type(hex(9))

str

In [ ]:
# 10진수로 형변환할 때는 몇진수인지 표기 필요.

int('0b1001', 2) #형변환 함수: 2진수 -> 정수
int('0o11', 8)   #형변환 함수: 8진수 -> 정수

9

In [ ]:
# 실수

x = 10.0
y = 10
print(type(x), type(y)) #출력 : <class 'float> <class 'int'>

x + y

<class 'float'> <class 'int'>

20.0

In [ ]:
# inf: 양의 무한대를 나타내는 상수

x = float("inf")

x > 100

True

In [ ]:
# -inf: 음의 무한대를 나타내는 상수

x = float("-inf")

x < 100

True

## ch5. 문자열 자료형

In [ ]:
s = 'hello world'
s = "hello world"
s = '''hello world'''
s = """hello world"""
s

'hello world'

In [ ]:
s = '''hello
wo
rl
d'''

print(s)

# escape 문자열
# \n
# \t
# \'
# \"

s = 'h\ne\nl\nlo w\to\trld'
print(s)

hello
wo
rl
d
h
e
l
lo w	o	rld

In [ ]:
# 문자열의 인덱싱

s = 'hello world'
s[0]
s[1]

'e'

In [ ]:
s = 'hello world'
s[0] + s[1] + s[2] + s[3] + s[4]

'hello'

In [ ]:
# 문자열의 슬라이싱(변수명[start:stop:step])
s= 'hello world'
s[0:5]

'hello'

In [ ]:
s= 'hello world'

s[0:5:2] # 2칸씩 건너뛰면서 0에서 5까지 출력

s[0::2] # 2칸씩 건너뛰면서 마지막까지 출력

s[::2] # 2칸씩 건너뛰면서 처음부터 마지막까지 출력

s[::-2] # 역순으로 2칸씩 처음부터 마지막까지 출력

# s[100:150:2] # 슬라이싱은 초과된 인덱스를 입력해도 에러가 나지 않습니다.

'drwolh'

In [ ]:
# 문자열 메서드

s = 'Hello World'

s.count('l') #3
s.find('World') #6

'1'.isdigit() #True
't1'.isdigit() #False

'-'.join(['011', '9999','8888'])

s.lower() #hello world
s.upper() #HELLO WORLD
s.replace('Hello', 'Hi') #'Hi Worild'

s.split(' ') #['Hello', 'World']
'011-9999-8888'.split('-') #['011', '9999', '8888']

'   Hello World   '.strip() #Hello World

'90'.zfill(3) #090

# 'count' 해당 문자가 문자열에 몇개나 있는지?
# 'find' 해당 문자열이 몇번째 인덱스부터 시작하는지?
# 'isdigit' 해당 문자열이 숫자로만 이루어져있는지?
# 'join' 순회 가능한 리스트의 요소들을 해당 문자로 연결하기
# 'lower' 해당 문자열을 전부 소문자로 치환
# 'upper' 해당 문자열을 전부 대문자로 치
# 'replace' 해당 문자열의 첫번째 인수 값을 찾아서 두번째 인수에 입력한 문자로 치환
# 'split' 해당 문자열을 입력한 값의 단위로 쪼개서 각각 리스트 요소로 만들기 ex) 띄어쓰기, - 등
# 'strip' 앞뒤 공백 없애기
# 'zfill' 입력한 숫자대로 자릿수 맞추도록 0을 채워넣기

'090'

## ch6. 논리 자료형과 None 자료형

In [ ]:
# 논리 자료형
# 다른 언어는 True, true로 표기하는 경우도 있습니다. 하지만 파이썬은 꼭 대문자로 쓴다.
x = True
y = False

type(x)

bool

In [ ]:
True < 3

True

In [ ]:
True == 1

True

In [ ]:
False == 1

False

In [ ]:
False == 0

True

In [ ]:
bool('hello')

True

In [ ]:
bool('')

False

In [ ]:
print(bool(0))
print(bool(1))
print(bool(100))
print(bool(-1))
print(bool(-100))

False
True
True
True
True

In [ ]:
print(bool([]))
print(bool({}))
print(bool(set()))
print(bool(()))

False
False
False
False

In [ ]:
# None 자료형

x = None
type(x)

NoneType

In [ ]:
None == 0

# None + None #TypeErro 뜬다. None은 더하기 지원 안함.

False